.intro__index {
    display: grid;
    grid-template: 28px 32px 134px 2px 32px 23px / 62% 1fr 20%;
    max-width: 1032px;
    width: 100%;
    padding: 96px 0 91px 0;

    & > h6 {
        grid-area: 1 / 1 / 2 / 2;
    }
    & > h1 {
        grid-area: 3 / 1 / 7 / 2;
        line-height: 60px;
    }
    & > div {
        grid-area: 4 / 3 / 5 / 4;
        background-color: $color-light;
        width: 30px;
    }
    & > p {
        grid-area: 5 / 3 / 6 /4;
    }
}
span {
    color: $color-accent;
}

.main-collage {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    @extend %body-width;
    height: 1960px;
}
.main-collage > img {
    padding: 5px 10px;
}

.service-list {
    display: flex;
    justify-content: space-between;
    @extend %body-width;
    min-height: 106px;
    margin: 91px 0 101px 0;
}
h2 {
    max-width: 635px;
    width: 100%;
    min-height: 106px;
    line-height: 38px;
}
.service-list > ul {
    display: flex;
    flex-flow: wrap column;
    justify-content: space-around;
    max-width: 349px;
    width: 100%;
    min-height: 89px;
    font-size: $font-size_s;
    font-weight: $font-normal;
    color: $color-medium;
}

.awards{
    border-style: solid none;
    border-color: $color-light;
    border-radius: 2px;
    @extend %body-width;
    margin-bottom: 114px;

    &__card {
        padding-top: 48px;
    
        &_price {
            display: grid;
            grid-template: 28px 7px 1fr / 43% 25% 17% 1fr 4%;
            @extend %body-width;
            min-height: 189px;
        }
        h3 {
            grid-area: 1 / 1 / 2 / 2;
        }
        h4 {
            grid-area: 1 / 2 / 2 / 3;
        }
        h5 {
            grid-area: 1 / 3 / 2 / 4;
        }
        p {
            grid-area: 3 / 3 / 4 / 4;
            font-size: $font-size_xs;
            line-height: 26px;
        }
        .year {
            grid-area: 1 / 5 / 2 / 6;
        }
    }
    &__card:first-child {
        border-style: none none solid none;
        border-color: $color-light;
        border-radius: 2px;
    }
}