$main-font : "Mulish", sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-size_xs: 16px;
$font-size_s: 18px;
$font-size_m: 22px;
$font-size_l: 28px;
$font-size_xl: 40px;
$dark-color: #111111;
$middle-color: #979797;
$light-color: #D8D8D8;
$accent-color: #4A4FF2;