$main-font : "Mulish", sans-serif;
$font-normal: 400;
$font-bold: 700;
$font-size_xs: 16px;
$font-size_s: 18px;
$font-size_m: 22px;
$font-size_l: 28px;
$font-size_xl: 40px;
$color-dark: #111111;
$color-medium: #979797;
$color-light: #D8D8D8;
$color-accent: #4A4FF2;

%body-width {
    max-width: 1100px;
    width: 100%;
}