@import 'reset';
@import 'variables';
body {
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: $font-size_s;
    font-weight: $font-bold;
    color: $color-dark;
    width: 95vw;
    padding: 61px 125px 47px 126px;
}
body > * {
    @extend %body-width;
}
p {
    color: $color-medium;
    font-weight: $font-normal;
    line-height: 26px;
}
h1 {
    font-size: $font-size_xl;
}
h2 {
    font-size: $font-size_l;
}
h3, h6 {
    font-size: $font-size_m;
}
h4, a {
    font-size: $font-size_s;
    color: $color-dark;
}
h5 {
    font-size: $font-size_xs;
}
h6, a:visited {
    color: $color-accent;
}
a:hover {
    color: $color-medium;
}
@import 'header+footer';
@import 'index';
@import 'project-details';
@import 'contact';
